/* default styles */
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    /* this makes it so that adjusting padding/margin doesn't affect the width */
    box-sizing: border-box;
}

/* define custom properties (variables) */
/* root scope */
:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

body {
    /* default font */
    font-family: 'Muli', sans-serif;
    /* default layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* need height for the layout to work */
    justify-content: center;
    height: 100vh;
    /* overflow to hide the scrollbars */
    overflow: hidden;
    margin: 0;
}

/* all the elements in here are centered */
.container {
    text-align: center;
}

/* numbers on the progress bar */
.progress-container {
    display: flex;
    /* creates space between the numbers */
    justify-content: space-between;
    /* relative to position other things inside of it absolute */
    position: relative;
    /* margin bottom to push it away from the buttons */
    margin-bottom: 2rem;
    /* shows the width of the progress bar */
    max-width: 100%;
    /* make the width: */
    width: 350px;
}

/* before used to show empty progress bar */
.progress-container::before {
    /* we don't see anything because whenever we use ::before, we need content: '' */
    content: '';
    /* color of the progress bar */
    background-color: var(--line-border-empty);
    /* this is absolutely positioned relative to progress container */
    position: absolute;
    /* move progress bar to the center */
    transform: translateY(-50%);
    /* top is for vertically centering the progress bar */
    top: 50%;
    /* height determines the height of the progress bar */
    height: 4px;
    /* the width is what actually shows as the progress bar */
    /* 0 means the progress bar starts at 0% out of 100% */
    width: 100%;
    /* make sure progress bar is BEHIND the circles */
    z-index: -1;
    /* no longer need transition because it's static */
}

/* progress bar */
.progress-bar {
    /* color of the progress bar */
    background-color: var(--line-border-fill);
    /* this is absolutely positioned relative to progress container */
    position: absolute;
    /* move progress bar to the center */
    transform: translateY(-50%);
    /* top is for vertically centering the progress bar */
    top: 50%;
    /* height determines the height of the progress bar */
    height: 4px;
    /* the width is what actually shows as the progress bar */
    /* 0 means the progress bar starts at 0% out of 100% */
    width: 0%;
    /* make sure progress bar is BEHIND the circles */
    z-index: -1;
    /* when we click a button, we want it to transition */
    transition: 0.4s ease;
}

.circle {
    /* this makes the space behind the numbers white */
    background-color: white;
    /* color of the numbers */
    color: white;
    /* circle should be rounded */
    border-radius: 50%;
    /* create circle, width and height */
    width: 2rem;
    height: 2rem;
    /* center numbers inside the circles */
    display: flex;
    align-items: center;
    justify-content: center;
    /* create border around circles */
    border: 5px inset var(--line-border-empty);
    /* create transition */
    transition: 0.4s ease;
}

/* what happens with the active circle */
.circle.active {
    background-color: var(--line-border-fill);
}

/* button styling */
.btn {
    background-color: var(--line-border-fill);
    /* font: white */
    color: white;
    /* make corners rounded */
    border-radius: 15px;
    /* default sizing */
    font-size: 1rem;
    height: 2rem;
    width: 4rem;
    /* when hovering, make the pointer a cursor */
    cursor: pointer;
    /* inherits font from parent element */
    /* it would inherit from <body> and have the Muli font */
    font-family: inherit;
    /* spacing away from other elements */
    margin: 1rem;
}

/* when clicked or held, do this to the button */
.btn:active {
    transform: scale(.8);
}

/* after clicked/selected, hide the outline around the button */
.btn:focus {
    outline: none;
}

.btn:disabled {
    /* set background to empty */
    background-color: var(--line-border-empty);
    /* don't animate // keep scale the same */
    transform: scale(1);
    /* don't allow this button to be clicked */
    cursor: not-allowed;
}